body, input {
	font-family: Terminal;
}

#messages {
	display: block;
	width: 100%;
	height: 70%;
	overflow-y: scroll;
}

#message {
	width: 80.5%;
}

#id {
	width: 9%;
}

#button {
	width: 5%
}

#messages, input {
	color: black;
	font-size: small
}